<style>
    .sharethis-inline-share-buttons {
        margin-top: 30px;
    }
</style>
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=605db4f49269c20011a2a13b&product=inline-share-buttons" async="async"></script>
<h3>Se l'articolo ti è piaciuto condividilo</h3>
<div class="sharethis-inline-share-buttons"></div>

<style>
    input, textarea {
        background: none;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 98%;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
    }

    input:focus, textarea:focus {
        outline: none;
    }

    input[type="password"] {
        letter-spacing: 0.3em;
    }

    form {
        padding: 30px;
        background-color: #e8e8e8;
        margin-top: 30px;
    }

    button {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        position: relative;
        overflow: hidden;
        transition: background 400ms;
        color: #fff;
        background-color: black;
        padding: 1rem 2rem;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        outline: 0;
        border: 0;
        border-radius: 0.25rem;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
        cursor: pointer;
        width: 100%;
    }
</style>

<form accept-charset="utf-8" action="https://formspree.io/f/mlearprb" method="post">
    <h3>Se hai dubbi, domande o commenti scrivimi! 👇</h3>
    <input type="text" name="name" placeholder="Il tuo nome" required>
    <input type="email" name="_replyto" placeholder="La tua email così poi ti posso rispondere" required>
    <textarea rows="5" name="message" placeholder="Dimmi tutto!" required></textarea>
    <input type="hidden" name="_subject" value="Contact Form Submission">
    <button type="submit">✉️ Invia</button>
  </form>