---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body, p, ul, li, a, h1, h2, h3, h4, h5, h6
{
  // font-family: 'Merriweather', serif;
  font-family: 'Open Sans', sans-serif;
  color: #111;
  line-height: 29px;
}

p img {
  margin: 20px auto;
  display: block;
}

article > h1, article > h2, article > h3 {
  text-align: center;
}

.wrapper {
  max-width: calc(900px - (30px * 2));
}

a:active {
  color: red
}