<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
	<!--[if IE 7]>
	<link rel="stylesheet" href="/css/font-awesome-ie7.min.css">
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/style.css" />

	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-38378836-1']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
	</head>
<body>
<script>
(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1&appId=410563602315394";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div class="container">
	<div class="row">
		<div class="span3 offset1 sidebar">
			<a href="/">
				<img src="/img/me.jpg" width="100px" class="img-circle">
			</a>
            <h4><a href="/">Ettore Delprino</a></h4>
			<p>Developer. Climber. Minimalista</p>
			<div class="link">
				<a href="https://twitter.com/edelprino" id="twitter"><i class="icon-twitter"></i></a>
				<a href="https://github.com/edelprino" id="github"><i class="icon-github-alt"></i></a>
				<a href="http://www.linkedin.com/in/edelprino" id="linkedin"><i class="icon-linkedin-sign"></i></a>
				<a href="mailto:edelprino@gmail.com" id="email"><i class="icon-envelope-alt"></i></a>
			</div>
		</div>
		<div class="span7">

		{{ content }}

		</div>
	</div>
</div>
</body>
</html>
